.slogan{
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) ,url('images/city2.jpg') no-repeat center center /cover;

}

.slogan form{
    background-color: rgba(255, 255, 255, 0.464);
}

.slider{
    height: 400px;
    margin: 150px 0;
}


.slider img{
    height:300px ;
    object-fit: cover;
}